<!DOCTYPE html>
<html lang="fr">
  
  <!-- En-tete -->
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="mbey_koumatey"/>
    <title>Actualités</title>
    <link rel="shortcut icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" href="../style.css"/>
  </head>
  <header>
    <nav>
      <div>
        <img class="logo" src="../images/icon-left-font-monochrome-black.svg">
        <h1 class="title-page">Bienvenu sur votre espace social ! </h1>
          </div>
          
          </nav>
          </header>
          
          <!-- Corps -->
          <body>
            
            
            <main>
            
              <section class="wrapper">
                <div class="title-text">
                  <h2 class="title-login"> Actualités</h2>
                </div>
                
                <div class="form-container">
                  <div class="form-inner">
                    <form action = "#" method="post" class ="login">  <!-- insérer plutard le lien url -->
                    </form>
                              </section>
                              </main>
                              <!-- Footer -->
                           
    <footer>
      <ul>
<li><a href="#" title="">Help Center</a></li>
<li><a href="#" title="">About</a></li>

<li><a href="#" title="">Language</a></li>

</ul>
 <div class="copyright">
        <p>Copyright © 2022 Groupomania - Tous droits réservés</p>
      </div>
   </footer> 
                              
                              
                              </body>
                              </html>
                              