<!DOCTYPE html>
<html lang="fr">
    
    <!-- En-tete -->
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="author" content="mbey_koumatey"/>
      <title>S'inscrire</title>
       <link rel="shortcut icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" href="../style.css"/> 
</head>
<header>
        <nav>
                <img class="logo" src="../images/icon-left-font-monochrome-black.svg"> 
        </nav>
    </header>
    
    <!-- Corps -->
<body>


<main class="signup-box">
    <h1>Créer un compte</h1>

 <form class="content" action = "#" method="post" >
     <div> 
             <label>First Name</label>
        <input type="text" placeholder="Prénom" />
     </div>
     <div>
        <label>Last Name</label>
        <input type="text" placeholder="Nom" />
     </div>
      <div>
        <label>fonction</label>
        <input type="text" placeholder="Fonction" />
     </div>
 <div>
        <label>Email</label>
        <input type="text" placeholder="Email" />
     </div>
     <div>
        <label>Password</label>
        <input type="password" placeholder="Mot de passe" />
     </div>
      
                <button class="signup" type="submit" disabled>S'inscrire</button>
  </form>
</main>
   <!-- Footer -->
<footer class="copyright">
        <p>Copyright © 2022 Groupomania - Tous droits réservés</p>
      
</footer>
 

</body>
</html>