<!DOCTYPE html>
<html lang="fr">
    
    <!-- En-tete -->
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="author" content="mbey_koumatey"/>
      <title>S'inscrire</title>
       <link rel="shortcut icon" type="image/png" href="../images/icon.png">
    <link rel="stylesheet" href="style.css"/> 
</head>
<header>
        <nav>
                <img src="../images/logo.png"> 
        </nav>
    </header>
    
    <!-- Corps -->
<body>


<main class="contenaire">
    <h1>Créer un compte</h1>

 <form action="#">
            <div class="form-item-username">
                <input type="text" name="firstName" id="username" placeholder="Prénom">
                <input type="text" name="lastName" id="username" placeholder="Nom">
            </div>
            <div class="form-item">
                <input type="sex" name="sex" id="sex" placeholder="Sexe">
            </div>
             <div class="form-item">
                <input type="job" name="job" id="job-title" placeholder="Fonction">
            </div>
            <div class="form-item">
                <input type="email" name="email" id="email" placeholder="Email">
            </div>

              <div class="form-item">
                <input type="password" name="password" id="email" placeholder="Mot de passe">
            </div>
  <div class="form-btns">
                <button class="signup" type="submit" disabled>S'inscrire</button>
  </form>
</main>
   <!-- Footer -->
<footer>

    <img class="footer_logo" src="../images/logo.png" alt="logo Groupomania"/>
    <h2>Groupomania @2022</h2>
</footer>
 

</body>
</html>