
form {
  border: 3px solid #f1f1f1;
} 

input[type=text], input[type=password] {
   display: inline-block;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
} 


button {
  background-color: #04AA6D;
    width: 100%;
  color: #FFFF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

} 
button:hover {
  opacity: 0.8;
} 


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
} 


img.avatar {
  width: 40%;
  border-radius: 50%;
} 

.container {
  padding: 16px;
} 

span .pass-link{
   
  float: right;
  padding-top: 16px;

}
/*médias quéries*/
/*Mobile*/

@media screen and (min-width:375px) {
}
/*Tablette*/
@media screen and (min-width: 768px) {
}

/*Desktops*/
@media screen and (min-width: 992px) {
}

@media screen and (min-width:1440px) {}

